{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
 <div class="row">
  <div class="col-md-6">
    <img src='{% static "images/automation.jpeg" %}' style="padding:10px" alt="Automation Image" class="img-fluid">
  </div>
  <div class="col-md-6">
    <p>Automation is the technology by which a process or procedure is performed with minimal human assistance. It is used to increase efficiency, reliability, and speed in various tasks.</p>
    <p>Explore our automation services to streamline your operations and enhance productivity.</p>  
    <p>We provide comprehensive automation services to help you automate repetitive tasks and improve efficiency. Our team specializes in process automation, robotic process automation (RPA), and workflow automation.</p>
    <p>Whether you need to automate data entry, reporting, or any other business process, we have the expertise to deliver high-quality solutions tailored to your specific requirements.</p>
    <p>Contact us today to learn more about our automation services and how we can help you achieve your
business goals.</p>
        
  </div>
</div>
</div>
{% endblock %}  