{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
 <div class="row">
  <div class="col-md-6">
    <img src='{% static "images/automation.jpeg" %}' alt="Automation Image" class="img-fluid">
  </div>
  <div class="col-md-6">
    <p>Automation is the technology by which a process or procedure is performed with minimal human assistance. It is used to increase efficiency, reliability, and speed in various tasks.</p>
    <p>Explore our automation services to streamline your operations and enhance productivity.</p>
  </div>
</div>
</div>
{% endblock %}  