{% extends 'base.html' %}
{% block content %}
{%load static%}
<div class="container">
 <div class="row">
  <div class="col-md-6">
    <img src='{% static "images/finance.jpeg" %}' style="padding:10px" alt="Finance Image" class="img-fluid">
  </div>
  <div class="col-md-6">
    <p>Finance is the management of large amounts of money, especially by governments or large companies. It is used to increase efficiency, reliability, and speed in various tasks.</p>
    <p>Explore our finance services to streamline your operations and enhance productivity.</p> 
    <p>We provide comprehensive financial services to help you manage your finances effectively. Our team specializes in financial planning, investment management, and risk assessment.</p>
    <p>Whether you need assistance with software related to Finance,Automation in Finance we have the expertise to deliver high-quality solutions tailored to your specific requirements.</p>
    <p>Contact us today to learn more about our financial services and how we can help you achieve your financial goals
  </div>
</div>
</div>
<div class="container mt-5">
    <h2>Our Finance Services</h2>
    <ul>
        <li>Financial Software Development</li>
        <li>Financial Services Automation</li>
        <li>Custom Financial Solutions</li>
    </ul>
    <p>For more information, please contact us or visit our <a href="{% url 'contact_us' %}">Contact Us</a> page.</p>
{% endblock %}